body {
	--wp-admin--theme--primary: #2271b1;
	--wp-admin--theme--primary--contrast: #f6f7f7;
	--wp-admin--theme--primary--step-10: #1a5686;
	--wp-admin--theme--notification: #d63638;
	--wp-admin--theme--notification--contrast: #fff;
	--wp-admin--theme--success: #00a32a;
	--wp-admin--theme--info: #72aee6;
	--wp-admin--theme--warning: #dba617;
	--wp-admin--theme--error: var(--wp-admin--theme--notification);

	--wp-admin--shadow: 0 0 0;
	--wp-admin--highlight: 255 255 255;
	--wp-admin--editor--color: #1d2327;

	--wp-admin--page--background: #f0f0f1;
	--wp-admin--surface--background: #fff;
	--wp-admin--surface--background-alternate: #f6f7f7;
	--wp-admin--surface--border: #c3c4c7;
	--wp-admin--surface--border-step-1: var(--wp-admin--surface--border); /* alias */
	--wp-admin--surface--border-step-2: #dcdcde;
	--wp-admin--surface--border-step-3: #f0f0f1;
	--wp-admin--surface--box-shadow: rgba(0, 0, 0, 0.1);

	--wp-admin--heading--color: #1d2327;
	--wp-admin--heading-secondary--color: #50575e;
	--wp-admin--text--color: #3c434a;
	--wp-admin--text-secondary--color: #646970;

	--wp-admin--code--background: #dcdcde;
	--wp-admin--code-highlight--background: rgba(219, 166, 23, 0.3);

	--wp-admin--admin-menu--background: #1d2327;

	--wp-admin--link--color: var(--wp-admin--theme--primary);
	--wp-admin--link--color--hover: var(--wp-admin--theme--primary--step-10);
	--wp-admin--link-delete--color: #b32d2e;
	--wp-admin--link-delete--color--hover: #b32d2e;

	--wp-admin--button: #f6f7f7;
	--wp-admin--button--hover: #f0f0f1;
	--wp-admin--button--shadow: #dcdcde;
	--wp-admin--button--border--disabled: #dcdcde;
	--wp-admin--button-primary: var(--wp-admin--theme--primary);
	--wp-admin--button-primary--hover: var(--wp-admin--theme--primary--step-10);

	--wp-admin--button--text: var(--wp-admin--button-primary);
	--wp-admin--button-primary--text: var(--wp-admin--button);

	--wp-admin--input--color: #2c3338;
	--wp-admin--input--color--placeholder: #646970;
	--wp-admin--input--border: var(--wp-admin--surface--border-step-1);
	--wp-admin--input--border--focus: var(--wp-admin--button-primary);
	--wp-admin--input--border--focus-secondary: var(--wp-admin--surface--background);
	--wp-admin--input--background: var(--wp-admin--surface--background);
	--wp-admin--input--background--readonly: #f0f0f1;
	--wp-admin--checkbox--fill: var(--wp-admin--button-primary);

	--wp-admin--help-tab--background: #f0f6fc;
	--wp-admin--help-tab--border--active: var(--wp-admin--theme--info);

	--wp-admin--nav-tab--border: var(--wp-admin--surface--border-step-1);
	--wp-admin--nav-tab--color: #50575e;
	--wp-admin--nav-tab--color--hover: #3c434a;
	--wp-admin--nav-tab--color--active: var(--wp-admin--heading--color);
	--wp-admin--nav-tab--background: #dcdcde;
	--wp-admin--nav-tab--background--hover: var(--wp-admin--surface--background);
	--wp-admin--nav-tab--background--active: var(--wp-admin--page--background);

	/* Needs work */
	--wp-admin--rating--fill: #dba617;
	--wp-admin--rating--base: #dcdcde;

	--wp-admin--bubble--color: var(--wp-admin--surface--background);
	--wp-admin--bubble--background: var(--wp-admin--text-secondary--color);

	--wp-admin--filter-button--color: var(--wp-admin--text-secondary--color);
	--wp-admin--filter-button--color--hover: var(--wp-admin--link--color--hover);
	--wp-admin--filter-button--color--active: var(--wp-admin--surface--background);
	--wp-admin--filter-button--background--active: var(--wp-admin--text-secondary--color);
	--wp-admin--filter-button--background--active-hover: var(--wp-admin--button-primary);

	--wp-admin--notice-success--background: #edfaef;
	--wp-admin--notice-success--border: var(--wp-admin--theme--success);
	--wp-admin--notice-info--background: #f0f6fc;
	--wp-admin--notice-info--border: var(--wp-admin--theme--info);
	--wp-admin--notice-warning--background: #fcf9e8;
	--wp-admin--notice-warning--border: var(--wp-admin--theme--warning);
	--wp-admin--notice-error--background: #fcf0f1;
	--wp-admin--notice-error--border: var(--wp-admin--theme--error);
	--wp-admin--notice-error--color: var(--wp-admin--theme--error);

	--wp-admin--icon--fill: #787c82;
	--wp-admin--icon--fill--disabled: #a7aaad;
	--wp-admin--icon-destructive--fill: var(--wp-admin--theme--error);
	--wp-admin--icon-error--fill: var(--wp-admin--icon-destructive--fill);
	--wp-admin--icon-success--fill: #68de7c;

	--wp-admin--screen-reader-text--background: var(--wp-admin--page--background);
	--wp-admin--screen-reader-text--color: var(--wp-admin--link--color);

	--wp-admin--plugin-modal-banner-title--color: #fff;
	--wp-admin--plugin-modal-banner-title--background: rgba(29, 35, 39, 0.9);

	--wp-admin--diff--deletedline--background: var(--wp-admin--notice-error--background);
	--wp-admin--diff--deletedline-del--background: #ffabaf;
	--wp-admin--diff--addedline--background: var(--wp-admin--notice-success--background);
	--wp-admin--diff--addedline-ins--background: var(--wp-admin--icon-success--fill);

	--wp-admin--slider-handle--background: var(--wp-admin--surface--background-alternate);
	--wp-admin--slider-handle--background--active: var(--wp-admin--page--background);
	--wp-admin--slider-handle--border: var(--wp-admin--surface--border);
	--wp-admin--slider-handle--border--hover: #8c8f94;
	--wp-admin--slider-handle--color: #50575e;
	--wp-admin--slider-handle--color--hover: #1d2327;

	--wp-admin--site-icon--background-color: #000;

	--wp-admin--themes--border-color: var(--wp-admin--theme--info);
	--wp-admin--themes--border-color-step-1: var(--wp-admin--surface--background);
	--wp-admin--themes--border-color-activate: rgba(0, 0, 0, 0.05);
	--wp-admin--themes--button--background: var(--wp-admin--admin-menu--background);
	--wp-admin--themes--button--background-step-1: rgba(0, 0, 0, 0.7);
	--wp-admin--themes--button--background-step-2: rgba(44, 51, 56, 0.7);
	--wp-admin--themes--button--text--color: #fff;
	--wp-admin--themes--button--text--color-secondary: #1d2327;
	--wp-admin--themes--button--text--color-tertiary: var(--wp-admin--theme--primary);
	--wp-admin--themes--button-delete--text--color: var(--wp-admin--theme--notification);
	--wp-admin--themes--button-delete--color--hover: var(--wp-admin--themes--button-delete--text--color);
	--wp-admin--themes--button--shadow: #c3c4c7;
	--wp-admin--themes--control--background: #50575e;
	--wp-admin--themes--icon--fill: #dcdcde;
	--wp-admin--themes--icon--fill-step-1: rgba(140, 143, 148, 0.1);
	--wp-admin--themes--icon--fill--hover: var(--wp-admin--theme--primary);
	--wp-admin--themes--icon--fill--hover-step-2: #dcdcde;
	--wp-admin--themes--icon--color: #8c8f94;
	--wp-admin--themes--icon--color--hover: var(--wp-admin--surface--background);
	--wp-admin--themes--icon--color--hover-secondary: #000;
	--wp-admin--themes--icon--shadow--hover: #4f94d4;
	--wp-admin--themes--icon--fill--disabled: #c3c4c7;
	--wp-admin--themes--img--background: #c3c4c7;
	--wp-admin--themes--input--border-color: #8c8f94;
	--wp-admin--themes--input--border-color-step-1: #4f94d4;
	--wp-admin--themes--input--border-color-step-2: #1d2327;
	--wp-admin--themes--input--border-color-step-3: var(--wp-admin--theme--primary);
	--wp-admin--themes--input--box-shadow: rgba(0, 0, 0, 0.5);
	--wp-admin--themes--input--box-shadow-step-1: rgba(79, 148, 212, 0.8);
	--wp-admin--themes--input--box-shadow-step-2: rgba(34, 113, 177, 0.8);
	--wp-admin--themes--radio--color--focus: #1d2327;
	--wp-admin--themes--label--background: #2c3338;
	--wp-admin--themes--link--background: rgba(0, 0, 0, 0);
	--wp-admin--themes--notice--background: var(--wp-admin--theme--primary);
	--wp-admin--themes--notice--background-step-2: #f0f0f1;
	--wp-admin--themes--page--background: rgba(255, 255, 255, 0.65);
	--wp-admin--themes--page-activate--background: rgba(246, 247, 247, 0.7);
	--wp-admin--themes--page-backdrop--background: rgba(240, 240, 241, 0.9);
	--wp-admin--themes--screenshot--box-shadow: rgba(0, 0, 0, 0.2);
	--wp-admin--themes--text--color: #f0f0f1;
	--wp-admin--themes--text-secondary--color: 646970;
	--wp-admin--themes--text-tertiary--color: #50575e;
	--wp-admin--themes--text--color--hover: #fff;
	--wp-admin--themes--text-shadow--color: rgba(0, 0, 0, 0.6);


}

body.admin-color-ectoplasm {
	--wp-admin--theme--primary: #a3b745;
	--wp-admin--theme--primary--step-10: #99ac41;
	--wp-admin--button--text: #694c93;
	--wp-admin--link--color: #694c93;
	--wp-admin--link--color--hover: #453261;
	--wp-admin--theme--notification: #d46f15;
}
