body {
	--wp--brand--blue: #0073aa;
	--wp-admin--theme--primary: #2271b1;
	--wp-admin--theme--primary--contrast: #f6f7f7;
	--wp-admin--theme--primary--step-10: #0a4b78;
	--wp-admin--theme--notification: #d63638;
	--wp-admin--theme--notification--contrast: #fff;
	--wp-admin--theme--success: #00a32a;
	--wp-admin--theme--info: #72aee6;
	--wp-admin--theme--warning: #dba617;
	--wp-admin--theme--error: var(--wp-admin--theme--notification);

	--wp-admin--shadow: 0 0 0;
	--wp-admin--highlight: 255 255 255;
	--wp-admin--editor--color: #1d2327;

	--wp-admin--page--background: #f0f0f1;
	--wp-admin--surface--background: #fff;
	--wp-admin--surface--background-alternate: #f6f7f7;
	--wp-admin--surface--background-contrast: #000;
	--wp-admin--surface--border: #c3c4c7;
	--wp-admin--surface--border-step-1: var(--wp-admin--surface--border); /* alias */
	--wp-admin--surface--border-step-2: #dcdcde;
	--wp-admin--surface--border-step-3: #f0f0f1;
	--wp-admin--surface--border-contrast: #c3c4c7;
	--wp-admin--surface--box-shadow: rgba(0, 0, 0, 0.1);

	--wp-admin--box-shadow--focus:
		0 0 0 1px var(--wp-admin--button-primary--hover),
		0 0 2px 1px var(--wp-admin--button-primary);

	--wp-admin--heading--color: #1d2327;
	--wp-admin--heading-secondary--color: #50575e;
	--wp-admin--text--color: #3c434a;
	--wp-admin--text-secondary--color: #646970;
	--wp-admin--text-contrast--color: #fff;

	--wp-admin--code--background: #dcdcde;
	--wp-admin--code-highlight--background: rgba(219, 166, 23, 0.3);

	--wp-admin--admin-menu--background: #1d2327;

	--wp-admin--link--color: var(--wp-admin--theme--primary);
	--wp-admin--link--color--hover: var(--wp-admin--theme--primary--step-10);
	--wp-admin--link-delete--color: #b32d2e;
	--wp-admin--link-delete--color--hover: #b32d2e;
	--wp-admin--link-delete--color--disabled: #a7aaad;

	--wp-admin--button: #f6f7f7;
	--wp-admin--button--hover: #f0f0f1;
	--wp-admin--button--focus: var(--wp-admin--theme--primary);
	--wp-admin--button--shadow: #dcdcde;
	--wp-admin--button--border--disabled: #dcdcde;
	--wp-admin--button-primary: var(--wp-admin--theme--primary);
	--wp-admin--button-primary--hover: var(--wp-admin--theme--primary--step-10);

	--wp-admin--button--text: var(--wp-admin--button-primary);
	--wp-admin--button-primary--text: var(--wp-admin--button);

	--wp-admin--input--color: #2c3338;
	--wp-admin--input--color--placeholder: #646970;
	--wp-admin--input--border: var(--wp-admin--surface--border-step-1);
	--wp-admin--input--border--focus: var(--wp-admin--button-primary);
	--wp-admin--input--background: var(--wp-admin--surface--background);
	--wp-admin--input--background--readonly: #f0f0f1;
	--wp-admin--checkbox--fill: var(--wp-admin--button-primary);

	--wp-admin--help-tab--background: #f0f6fc;
	--wp-admin--help-tab--border--active: var(--wp-admin--theme--info);

	--wp-admin--pending--color: #b32d2e;
	--wp-admin--pending--color--hover: #b32d2e;

	--wp-admin--nav-tab--border: var(--wp-admin--surface--border-step-1);
	--wp-admin--nav-tab--color: #50575e;
	--wp-admin--nav-tab--color--hover: #3c434a;
	--wp-admin--nav-tab--color--active: var(--wp-admin--heading--color);
	--wp-admin--nav-tab--background: #dcdcde;
	--wp-admin--nav-tab--background--hover: var(--wp-admin--surface--background);
	--wp-admin--nav-tab--background--active: var(--wp-admin--page--background);

	--wp-admin--tab-bar--color: #2c3338;
	--wp-admin--tab-bar--color-focus: #1d2327;
	/* Needs work */
	--wp-admin--rating--fill: #dba617;
	--wp-admin--rating--base: #dcdcde;

	--wp-admin--bubble--color: var(--wp-admin--surface--background);
	--wp-admin--bubble--background: var(--wp-admin--text-secondary--color);

	--wp-admin--filter-button--color: var(--wp-admin--text-secondary--color);
	--wp-admin--filter-button--color--hover: var(--wp-admin--link--color--hover);
	--wp-admin--filter-button--color--active: var(--wp-admin--surface--background);
	--wp-admin--filter-button--background--active: var(--wp-admin--text-secondary--color);
	--wp-admin--filter-button--background--active-hover: var(--wp-admin--button-primary);

	--wp-admin--notice-success--background: #edfaef;
	--wp-admin--notice-success--border: var(--wp-admin--theme--success);
	--wp-admin--notice-info--background: #f0f6fc;
	--wp-admin--notice-info--border: var(--wp-admin--theme--info);
	--wp-admin--notice-info--color: var(--wp-admin--theme--primary);
	--wp-admin--notice-warning--background: #fcf9e8;
	--wp-admin--notice-warning--border: var(--wp-admin--theme--warning);
	--wp-admin--notice-error--background: #fcf0f1;
	--wp-admin--notice-error--border: var(--wp-admin--theme--error);
	--wp-admin--notice-error--color: var(--wp-admin--theme--error);
	--wp-admin--notice-error--shadow: #dcdcde;

	--wp-admin--action-approve--color: #007017;
	--wp-admin--action-unpprove--color: #996800;

	--wp-admin--icon--fill: #787c82;
	--wp-admin--icon--fill--disabled: #a7aaad;
	--wp-admin--icon--fill--inactive: var(--wp-admin--surface--border);
	--wp-admin--icon-destructive--fill: var(--wp-admin--theme--error);
	--wp-admin--icon-error--fill: var(--wp-admin--icon-destructive--fill);
	--wp-admin--icon-success--fill: #68de7c;
	--wp-admin--icon--shadow: rgba(167, 170, 173, 0.15);
	--wp-admin--icon-contrast--fill: #fff; /* Icon on a dark background. */

	--wp-admin--screen-reader-text--background: var(--wp-admin--page--background);
	--wp-admin--screen-reader-text--color: var(--wp-admin--link--color);

	--wp-admin--plugin-modal-banner-title--color: #fff;
	--wp-admin--plugin-modal-banner-title--background: rgba(29, 35, 39, 0.9);

	--wp-admin--diff--deletedline--background: var(--wp-admin--notice-error--background);
	--wp-admin--diff--deletedline-del--background: #ffabaf;
	--wp-admin--diff--addedline--background: var(--wp-admin--notice-success--background);
	--wp-admin--diff--addedline-ins--background: var(--wp-admin--icon-success--fill);

	--wp-admin--slider-handle--background: var(--wp-admin--surface--background-alternate);
	--wp-admin--slider-handle--background--active: var(--wp-admin--page--background);
	--wp-admin--slider-handle--border: var(--wp-admin--surface--border);
	--wp-admin--slider-handle--border--hover: var(--wp-admin--surface--border-contrast);
	--wp-admin--slider-handle--color: #50575e;
	--wp-admin--slider-handle--color--hover: #1d2327;

	--wp-admin--site-icon--background-color: var(--wp-admin--surface--background-contrast);

	--wp-admin--auth-check--box-shadow: rgba(0, 0, 0, 0.3);

	--wp-admin--login--link--color: #50575e;
	--wp-admin--login--link--color--hover: #135e96;
	--wp-admin--login--link--color--focus: #043959;

	--wp-admin--pointer-content--box-shadow: rgba(0, 0, 0, 0.08);

	--wp-admin--tranparent-checkerboard--gradient:
		linear-gradient(45deg, var(--wp-admin--surface--border) 25%, transparent 25%, transparent 75%, var(--wp-admin--surface--border) 75%, var(--wp-admin--surface--border)),
		linear-gradient(45deg, #c3c4c7 25%, transparent 25%, transparent 75%, var(--wp-admin--surface--border) 75%, var(--wp-admin--surface--border));

	/* Darker borders */
	--wp-admin--widgets-holder--border--hover: #787c82;
	--wp-admin--widget-chooser--border: #8c8f94;

	--wp-admin--post-submit-meta-box--icon--color: #8c8f94;

	--wp-admin--modern-tabbed-page--box-shadow: inset 0 -3px #3582c4;
	--wp-admin--modern-tabbed-page--color--focus: #8b9399;
	--wp-admin--modern-tabbed-page--outline--focus: #787c82;
	--wp-admin--modern-tabbed-page-icon--border: #50575e;
	--wp-admin--modern-tabbed-page-accordion--border: #787c82;

	--wp-admin--post-format-icon--color: #dcdcde;
	--wp-admin--post-format-icon--color--hover: #135e96;

	--wp-admin--ac-results--border: #4f94d4;
	--wp-admin--ac-results-match--background: #2271b1;

	--wp-admin--tabs-panel-active--box-shadow-from--focus: #4f94d4;
	--wp-admin--tabs-panel-active--box-shadow-to--focus: rgba(79, 148, 212, 0.8);

	--wp-admin--find-posts-close-active--color: #135e96;
	--wp-admin--find-posts-close--box-shadow--focus: 0 0 0 1px #4f94d4, 0 0 2px 1px rgba(79, 148, 212, 0.8);

	--wp-admin--media-drag-drop--border: #9ec2e6;
	--wp-admin--media-attachment--box-shadow--focus: inset 0 0 2px 3px #f0f0f1, inset 0 0 0 7px #4f94d4;
	--wp-admin--media-attachment-details--box-shadow: inset 0 0 0 3px #f0f0f1, inset 0 0 0 7px #4f94d4;
	--wp-admin--media-attachment-selected--box-shadow--focus: inset 0 0 0 5px #f0f0f1, inset 0 0 0 7px #c3c4c7;
	--wp-admin--imgedit-help--border--focus: #4f94d4;
	--wp-admin--imgedit-help--box-shadow--focus: #4f94d4;

	--wp-admin--admin-menu--background: #1d2327;

	--wp-admin--admin-menu--icon--color: #a7aaad;
	--wp-admin--admin-menu--link--color: #f0f0f1;

	--wp-admin--admin-menu--submenu--background: #2c3338;
	--wp-admin--admin-menu--submenu-link--color: #c3c4c7;
	--wp-admin--admin-menu--submenu-header--color: #fff;
	--wp-admin--admin-menu--submenu--box-shadow: rgb(var(--wp-admin--shadow) / 0.2);

	--wp-admin--admin-menu--tertiary--background: #3c434a;

	--wp-admin--admin-menu--link--background--hover: var(--wp-admin--admin-menu--background);
	--wp-admin--admin-menu--link--color--hover: #72aee6;
	--wp-admin--admin-menu--icon--color--hover: var(--wp-admin--admin-menu--link--color--hover);

	--wp-admin--admin-menu--link--background--current: var(--wp-admin--theme--primary);
	--wp-admin--admin-menu--link--color--current: var(--wp-admin--theme--primary--contrast);
	--wp-admin--admin-menu--icon--color--current: var(--wp-admin--admin-menu--link--color--current);

	--wp-admin--admin-menu--notification--background: var(--wp-admin--theme--notification);
	--wp-admin--admin-menu--notification--color: var(--wp-admin--theme--notification--contrast);
	--wp-admin--admin-menu--notification--background--current: var(--wp-admin--admin-menu--notification--background);
	--wp-admin--admin-menu--notification--color--current: var(--wp-admin--admin-menu--notification--color);
}
