body {
	--wp-admin--theme--primary: #2271b1;
	--wp-admin--theme--primary--contrast: #f6f7f7;
	--wp-admin--theme--primary--step-10: #1a5686;
	--wp-admin--theme--notification: #d63638;
	--wp-admin--theme--notification--contrast: #fff;
	--wp-admin--theme--border: #4f94d4; /* We might want a more specific name for this color, but it gets used for a lot of borders and shadows throughout the admin */

	--wp-admin--shadow: 0 0 0;
	--wp-admin--shadow-color: rgba(79, 148, 212, 0.8);
	--wp-admin--highlight: 255 255 255;
	--wp-admin--editor--color: #1d2327;

	--wp-admin--page--background: #f0f0f1;
	--wp-admin--surface--background: #fff;
	--wp-admin--surface--background-alternate: #f6f7f7;
	--wp-admin--surface--background-contrast: #646970;
	--wp-admin--surface--border: #c3c4c7;
	--wp-admin--surface--border-step-1: var(--wp-admin--surface--border); /* alias */
	--wp-admin--surface--border-step-2: #dcdcde;
	--wp-admin--surface--border-step-3: #f0f0f1;


	--wp-admin--heading--color: #1d2327;
	--wp-admin--heading-secondary--color: #50575e;
	--wp-admin--text--color: #3c434a;
	--wp-admin--text-secondary--color: #646970;
	--wp-admin--text-on-contrast--color: #fff; /* This is for the text color on the --wp-admin--surface--background-contrast color - might be a bad name for it */
	--wp-admin--text-unstyled: #000;

	--wp-admin--code--background: #dcdcde;

	--wp-admin--admin-menu--background: #1d2327;

	--wp-admin--link--color: var(--wp-admin--theme--primary);
	--wp-admin--link--color--hover: var(--wp-admin--theme--primary--step-10);
	--wp-admin--link-delete--color: #b32d2e;
	--wp-admin--link-delete--color--hover: #b32d2e;

	--wp-admin--button: #f6f7f7;
	--wp-admin--button--hover: #f0f0f1;
	--wp-admin--button--shadow: #dcdcde;
	--wp-admin--button--border--disabled: #dcdcde;
	--wp-admin--button-primary: var(--wp-admin--theme--primary);
	--wp-admin--button-primary--hover: var(--wp-admin--theme--primary--step-10);

	--wp-admin--button--text: var(--wp-admin--button-primary);
	--wp-admin--button-primary--text: var(--wp-admin--button);

	--wp-admin--input--color: #2c3338;
	--wp-admin--input--color--placeholder: #646970;
	--wp-admin--input--border: var(--wp-admin--surface--border-step-1);
	--wp-admin--input--border--focus: var(--wp-admin--button-primary);
	--wp-admin--input--background: var(--wp-admin--surface--background);
	--wp-admin--input--background--readonly: #f0f0f1;
	--wp-admin--checkbox--fill: var(--wp-admin--button-primary);

	--wp-admin--help-tab--background: #f0f6fc;
	--wp-admin--help-tab--border--active: #72aee6;

	--wp-admin--table--background: #f0f6fc;
	--wp-admin--table-cell--shadow: #dcdcde;

	--wp-admin--pending--color: #b32d2e;
	--wp-admin--pending--color--hover: #b32d2e;

	--wp-admin--nav-tab--border: var(--wp-admin--surface--border-step-1);
	--wp-admin--nav-tab--color: #50575e;
	--wp-admin--nav-tab--color--hover: #3c434a;
	--wp-admin--nav-tab--color--active: var(--wp-admin--heading--color);
	--wp-admin--nav-tab--background: #dcdcde;
	--wp-admin--nav-tab--background--hover: var(--wp-admin--surface--background);
	--wp-admin--nav-tab--background--active: var(--wp-admin--page--background);

	/* Needs work */
	--wp-admin--rating--fill: #dba617;
	--wp-admin--rating--base: #dcdcde;

	--wp-admin--bubble--color: var(--wp-admin--surface--background);
	--wp-admin--bubble--background: var(--wp-admin--text-secondary--color);

	--wp-admin--filter-button--color: var(--wp-admin--text-secondary--color);
	--wp-admin--filter-button--color--hover: var(--wp-admin--link--color--hover);
	--wp-admin--filter-button--color--active: var(--wp-admin--surface--background);
	--wp-admin--filter-button--background--active: var(--wp-admin--text-secondary--color);
	--wp-admin--filter-button--background--active-hover: var(--wp-admin--button-primary);

	--wp-admin--notice-success--background: #edfaef;
	--wp-admin--notice-success--border: #00a32a;
	--wp-admin--notice-info--background: #f0f6fc;
	--wp-admin--notice-info--border: #72aee6;
	--wp-admin--notice-warning--background: #fcf9e8;
	--wp-admin--notice-warning--border: #dba617;
	--wp-admin--notice-error--background: #fcf0f1;
	--wp-admin--notice-error--border: #d63638;
	--wp-admin--notice-error--color: #d63638;
	--wp-admin--notice-error--shadow: #dcdcde;
	--wp-admin--notice-code--color: rgba(0, 0, 0, 0.7); /* There is probably no reason for this to be rgba instead of something like #474747, and we could probalby just reuse a color such as --wp-admin--text-secondary--color */

	--wp-admin--action-approve--color: #007017;
	--wp-admin--action-unpprove--color: #996800;

	--wp-admin--ui-icon--color: var(--wp-admin--text--color);

	--wp-admin--icon--fill: #787c82;
	--wp-admin--icon--fill--disabled: #a7aaad;
	--wp-admin--icon--fill--inactive: var(--wp-admin--surface--border);
	--wp-admin--icon-destructive--fill: #d63638;
	--wp-admin--icon-error--fill: var(--wp-admin--icon-destructive--fill);
	--wp-admin--icon-success--fill: #68de7c;
	--wp-admin--icon--shadow: rgba(167, 170, 173, 0.15);

	--wp-admin--screen-reader-text--background: var(--wp-admin--page--background);
	--wp-admin--screen-reader-text--color: var(--wp-admin--link--color);

	--wp-admin--plugin-modal-banner-title--color: #fff;
	--wp-admin--plugin-modal-banner-title--background: rgba(29, 35, 39, 0.9);
	--wp-admin--plugin-list-active--border: var(--wp-admin--help-tab--border--active:)
}

body.admin-color-ectoplasm {
	--wp-admin--theme--primary: #a3b745;
	--wp-admin--theme--primary--step-10: #99ac41;
	--wp-admin--button--text: #694c93;
	--wp-admin--link--color: #694c93;
	--wp-admin--link--color--hover: #453261;
	--wp-admin--theme--notification: #d46f15;
}
